body {
  background-color: #9aafb0;
  font-family: 'Work Sans', sans-serif;
}

hr {
  border: 0.2px solid #4a4141;
  width: 80vw;
}

h1 {
  margin: 25px;
  text-align: center;
  font-family: 'Bodoni Moda', serif;
  font-size: 45px;
  color: #4a4141;
}

a {
  text-decoration: none;
  color: #4a4141;
}

/*********************************
              Nav bar 
**********************************/
.nav-bar {
  width: 80vw;
  margin-left: 10vw;
  margin-right: 10vw;
}

.nav-items {
  padding: 0;
  margin: 20px 10px;
  align-self: center;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  font-size: 17.5px;
  font-family: 'Josefin Slab', serif;
}

.nav-items a {
  text-decoration: none;
  color: #4a4141;
}

.nav-items a:hover {
  text-decoration: none;
  color: #ebe6dc;
  text-shadow: 2px 2px 4px #4a4141;
}

/*********************************
            Main page 
**********************************/
.landing-container {
  max-width: 80vw;
  margin: 10vh auto;
  display: flex;
  align-items: center;
  position: relative;
}

.drawing {
  width: 300px;
  margin-left: 10%;
}

.drawing-description {
  color: antiquewhite;
  text-align: right;
  font-size: 25px;
  margin-right: 10%;
}

.blob {
  position: absolute;
  top: 5vh;
  left: 10%;
  fill: #b59892;
  width: 15vmax;
  z-index: -1;
  animation: move 10s ease-in-out infinite;
  transform-origin: 50% 50%;
}

@keyframes move {
  0% {
    transform: scale(1) translate(10px, -30px);
  }

  40% {
    transform: scale(0.8, 1) translate(80px, 30px) rotate(160deg);
  }

  80% {
    transform: scale(1.3) translate(0px, 50px) rotate(-20deg);
  }

  100% {
    transform: scale(1) translate(10px, -30px);
  }
}

/*********************************
             User cred 
**********************************/
.usercred-box {
  width: 230px;
  margin: 100px auto;
  padding: 20px 10px 10px;
  border-radius: 10px;
  box-shadow: 0 2px 9px 0 rgb(0 0 0 / 20%);
  background: #bfbcb6;
}

.usercred-title {
  margin-bottom: 15px;
  font-family: 'Bodoni Moda';
  text-align: center;
}

.usercred-form {
  margin: 7px;
  gap: 10px;
  display: flex;
  flex-direction: column;
}

.usercred-form input {
  height: 30px;
  border-radius: 5px;
  border-style: none;
  padding: 3px 15px;
}

.usercred-form input[type=submit] {
  width: 90px;
  height: 30px;
  margin-top: 5px;
  margin-right: 0px;
  align-self: center;
  border: none;
  border-radius: 5px;
  background-color: #5a726e;
  color: white;
  font-family: 'Josefin Slab', serif;
}

.usercred-form input[type=submit]:hover,
input[type=submit]:focus {
  color: #edddbd;
  text-shadow: 1px 1px 2px rgb(0 0 0 / 20%);
}

.usercred-form input:hover,
input:focus {
  box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.1);
  outline-width: 0;
}


/*********************************
            Search box 
**********************************/
.search-box {
  max-width: 900px;
  width: 75vw;
  margin: 100px auto;
  padding: 20px 10px;
  border-radius: 10px;
  box-shadow: 0 2px 9px 0 rgb(0 0 0 / 20%);
  background: #bfbcb6;
}

.search-form {
  margin: 5px 10px;
  gap: 10px;
  display: flex;
  flex-direction: row;
}

.search-form input {
  height: 30px;
  width: 90%;
  border-radius: 5px;
  border-style: none;
  padding: 3px 15px;
}

.search-form input[type=submit] {
  width: 10%;
  height: 36px;
  padding: 3px;
  margin-right: 0px;
  align-self: center;
  border: none;
  border-radius: 5px;
  background-color: #5a726e;
  color: white;
  font-family: 'Work Sans', sans-serif;
}

.search-form input[type=submit]:hover,
input[type=submit]:focus {
  color: #edddbd;
  text-shadow: 1px 1px 2px rgb(0 0 0 / 20%);
}

.search-form input:hover,
input:focus {
  box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.1);
  outline-width: 0;
}

.req-button:hover {
  color: white;
}

.req-button:hover {
  color: #edddbd;
  box-shadow: 1px 1px 2px rgb(0 0 0 / 20%);
}

/*********************************
        Search Result box 
**********************************/
.result-box {
  margin: 10px;
}

.result-table {
  margin-top: 30px;
  width: 100%;
  background-color: #f2f0e9;
  border-radius: 5px;
  padding: 10px;
  font-family: 'Work Sans', sans-serif;
}

.result-table tr {
  height: 30px;
}

.result-table th {
  height: 30px;
  text-align: left;
  font-family: 'Bodoni Moda', serif;
}

.req-button {
  height: 25px;
  padding: 3px;
  margin-right: 0px;
  padding: 0px 10px;
  align-self: center;
  border: none;
  border-radius: 5px;
  background-color: #5a726e;
  color: white;
  font-family: 'Work Sans', sans-serif;
}

/*********************************
        User page box 
**********************************/
#condition {
  border-style: none;
  border-radius: 5px;
  padding: 0px 10px;
  width: 200px;
}


/* .result-table tr{
  padding: 15px 5px;
} */
/* font-family: 'Bodoni Moda', serif;
font-family: 'Josefin Slab', serif; */

/* #6a8e90
#5b4f4b */